external-ip=%%EXTERNAL_IP%%
verbose
fingerprint
user=anon:anon
realm=%%DOMAIN_NAME%%
cert=/etc/letsencrypt/live/%%DOMAIN_NAME%%/fullchain.pem
pkey=/etc/letsencrypt/live/%%DOMAIN_NAME%%/privkey.pem
proc-user=nobody
proc-group=nobody
