external-ip=%%EXTERNAL_IP%%
verbose
fingerprint
use-auth-secret
static-auth-secret=%%TURN_SECRET%%
realm=%%DOMAIN_NAME%%
cert=/etc/letsencrypt/live/%%DOMAIN_NAME%%/fullchain.pem
pkey=/etc/letsencrypt/live/%%DOMAIN_NAME%%/privkey.pem
