external-ip=$EXTERNAL_IP
verbose
fingerprint
use-auth-secret
static-auth-secret=$TURN_SECRET
realm=$DOMAIN_NAME
cert=/etc/turnserver/certs/fullchain.pem
pkey=/etc/turnserver/certs/privkey.pem
simple-log
log-file=/var/log/turnserver.log
